@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

* {
    margin: 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #bbb;
    margin: 5px 0;
}

.parent {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.header {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #bbb;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
}

.content {
    position: relative;
    width: 100%;
}

.content > div {
    display: inline-block;
    position: relative;
}

.content .nav {
    width: 20%;
    height: 100%;
    border-right: 1px solid #bbb;
}

.content .page {
    position: absolute;
    padding: 10px;
    width: 500px;
}

.nav-menu {
    position: relative;
    width: 100%;
}

.nav-menu h4 {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 0;
    border-bottom: 1px solid #bbb;
}

.nav-menu .menu a.item {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #bbb;
    box-sizing: border-box;
    text-decoration: none;
    transition: background .25s, color .25s;
    color: teal;
}

.nav-menu .menu a.item:hover {
    background: #555;
    color: #fff;
    cursor: pointer;
}

.nav-menu .menu a.item.active {
    color: #1D1075;
}

a.item i {
    margin-right: 5px;
}

.page > div {
    width: 100%;
}

.page > div h2 {
    padding: 5px 0;
}

.packs {
    width: 100%;
}

.packs .pack {
    position: relative;
    border-bottom: 1px solid #bbb;
    width: 100%;
    padding: 10px;
}

.packs .pack a {
    position: absolute;
    padding: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
    background: teal;
    color: #fff;
    transition: background .25s;
}

.packs .pack a:hover {
    background: darkcyan;
}